body {font-family:Verdana, Geneva, Tahoma, sans-serif;}

main {color: #012641;}

header {background-color: #3d96b6;
    color: #F4FbFD;
    padding: 20%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(2, 31, 43, 0.2);}

nav {text-decoration: none;
    text-align: center;}

h2 {color: goldenrod;}

.content {padding: 2em;
    box-shadow: 0 4px 8px rgba(2, 31, 43, 0.2);}